*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navebar{
    background-color: black;
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.navebar ul{
    display: flex;
    
    

}
.navebar ul li{
    color: white;
    list-style: none;
    padding: 35px;
    font-size: large;
    font-weight: bolder;
}
.navebar ul li:hover{
    color: royalblue;
}


.search input{
    width: 240px;
    height: 24px;
    border-style: none;
    border-radius: 8px;
    margin-right: 100px;   
}
.logo img{
    height: 90px;
    width: 150px;
    margin-right: 300px;  
}
h1{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin-top: 35px;
}

.card{
    border: 2px solid black;
    height: 280px;
    width: 250px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    
}
 button{
    border-style: none;
    background-color: red;
    color: white;
    margin-top: 6px;
    margin-left: 5px;
    padding: 1.5px;
 }
::placeholder{
    color: black;
    padding-left: 8px;
}

 p{
    padding-top: 8px;
    padding-left: 5px;
 }
 .card:hover{
    box-shadow: 3px 3px 35px olive;
 }
 .main{
    display: flex;
 }


 footer{
    background-color: black;
    width: 100%;
    height: 420px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foo1{
   width: 18%;
   height: 290px;
   /* background-color: red; */
}
.foo2{
    width: 18%;
    height: 290px;
    /* background-color: blue; */
 }
 .foo3{
    width: 18%;
    height: 290px;
    /* background-color: green; */
 }
 .foo4{
    width: 18%;
    height: 290px;
    /* background-color: brown; */
 }
 .foo5{
    width: 18%;
    height: 290px;
    /* background-color: brown; */
 }
 h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    padding-bottom: 18px;

 }

 li{
    list-style: none;
    line-height: 38px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }
.photo{
    height: 60px;
 }